@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">G H Gurudeep AE24090108</h1>

    <h1 class="display-4">Azure devops Capstone-project conflict resolved</h1>

    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
